# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    

# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Set up jdk 21
        uses: actions/setup-java@v3
        with: 
          java-version: '21'
          distribution: 'temurin'
          cache: gradle


      - name: Create required files
        run: touch secret.properties
      
      # Making gradlew file executable for upcomming steps
      - name: Grant execute permission
        run: chmod +x gradlew

      # Create required file
      - name: Create properties file
        run: |
          cat >> secret.properties << 'END'
          GOOGLE_API_KEY=${{ secrets.GOOGLEAPI }}
          GOOGLE_API_KEY=${{ secrets.IPGEOAPI }}
          END
      
      # Cleaning project
      - name: Clean project
        run: ./gradlew clean

      # Performing lint checks  
      - name: Lint project
        run: ./gradlew lint

      # Starting gradle build  
      - name: Build gradle
        run: ./gradlew build
        
  unit-test: 
    
    runs-on: ubuntu-latest
    
    steps:

      - name: Load project
        uses: actions/checkout@v4

      - name: Setup Jdk 21
        uses: actions/setup-java@v3
        with: 
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Create required files
        run: touch secret.properties

      - run: chmod +rwx gradlew

      - name: Run local unit tests
        run: ./gradlew test

  instrumentation-test:
    
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Set up jdk 21
        uses: actions/setup-java@v3
        with: 
          java-version: '21'
          distribution: 'temurin'
          cache: gradle


      - name: Create required files
        run: touch secret.properties
      
      - name: Change gradlew file permission
        run: chmod +x gradlew

      - name: Run emulator
        uses: reactivecircus/android-emulator-runner@v2.30.1
        with:
          api-level: 29
          script: ./gradlew connectedCheck
