# This is a basic workflow to help you get started with Actions

name: Instrumentation Test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master
        with:
          core: false
          cask: false
          test-bot: false

      - name: Get API
        env:
          SUPER_SECRET: ${{ secrets.MARATHON_LABS_API }}
        run: echo $SUPER_SECRET

      - name: Get malinskiy repo
        run: brew tap malinskiy/tap

      - name: Install the Marathon Cloud CLI
        run: brew install malinskiy/tap/marathon-cloud

      - name: Set up jdk 21
        uses: actions/setup-java@v3
        with: 
          java-version: '21'
          distribution: 'temurin'
          cache: gradle


      - name: Create required files
        run: touch secret.properties
      
      # Make gradlew excutable
      - name: Change gradlew file permission
        run: chmod +x gradlew

      - name: Generate debug and test build
        run: ./gradlew :app:assembleDebug :app:assembleDebugAndroidTest

      - name: Locate APK
        run: ls ./app/build/outputs/apk/debug
        
      - name: Set secret key
        run: export MARATHON_CLOUD_API_KEY=${{ secrets.MARATHON_LABS_API }}

      - name: Run instrumentation tests
        env:
          SUPER_SECRET: ${{ secrets.MARATHON_LABS_API }}
        run: marathon-cloud run android --application app/build/outputs/apk/debug/app-debug.apk --test-application app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk --api-key $SUPER_SECRET


      
