# This is a basic workflow to help you get started with Actions

name: Instrumentation Test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Set up jdk 21
        uses: actions/setup-java@v3
        with: 
          java-version: '21'
          distribution: 'temurin'
          cache: gradle


      - name: Create required files
        run: touch secret.properties
      
      # Make gradlew excutable
      - name: Change gradlew file permission
        run: chmod +x gradlew

      - name: Generate debug and test build
        run: ./gradlew :app:assembleDebug :app:assembleDebugAndroidTest

      - name: Locate APK
        run: ls ./app/build/outputs/apk/debug

      - name: Install
        run: test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)" && \ test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)" && \ echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.bashrc
      
      - name: Install Herbew
        run: brew tap malinskiy/tap && \ brew install malinskiy/tap/marathon-cloud

      - name: Set Key
        run: export MARATHON_CLOUD_API_KEY=${{ secrets.MARATHON_LABS_API }}

      - name: Run instrumentation tests
        run: marathon-cloud run android --application app/build/outputs/apk/debug/app-debug.apk --test-application app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk


      
